@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;

  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #131715;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1B1E1F;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .pagination a {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #272b2a;
    color: #00bea4;
  }

  .pagination a:hover {
    background-color: #00BEA4;
    color: #ffffff  
  }

  .pagination__link {
    font-weight: bold;
  }

  .pagination__link--active a {
    color: #131715;
    background: #06f6f6;
  }

  .pagination__link--disabled a {
    color: rgb(65, 65, 65);
    border: 1px solid #272b2a;
  }


}